
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
  
    <nav class="navbar navbar-default" role="navigation">

      <div class="row">
	  <div class="col-md-12">
      <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">Atmospheric Chemistry Modeling & Remote Sensing Group | 大气化学模拟与遥感研究组</a>
      </div>
      </div>

      <div class="navbar-header navbar-header-center">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>                 
      </div>
      
      
      <div class="clearfix"></div>
	  
	  <div class="collapse navbar-collapse" id="navbar-collapse-1">
	  <ul class="nav navbar-nav navbar-center">
		<li><a href="{{ site.url }}{{ site.baseurl }}/" data-toggle="dropdown" class="dropdown-toggle" role="button">Home | 主页<b class="caret"></b></a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/people/" data-toggle="dropdown" class="dropdown-toggle" role="button">People | 成员<b class="caret"></b></a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/research/">Research | 研究</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/publications/">Publications | 论文</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/presentations/">Presentations | 报告</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/datasets/">Datasets | 数据</a></li> 
		<li><a href="{{ site.url }}{{ site.baseurl }}/courses/">Courses | 课程</a></li> 
		<li><a href="{{ site.url }}{{ site.baseurl }}/openings/">Openings | 加入我们</a></li>
	  </ul>
	  </div>
    
    </nav>
  </div>
</div>
